/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #FBE9E7;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; !* 170px x 200px *!*/
    height:auto;                   /* text area height */
    width:100%;                   /* text area width */
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0;
    overflow:visible;
    text-align:left;
    background-color: #ff5722;
    color: #fff;
    text-transform: capitalize;
    padding: 16px;
    box-shadow: 0px 0px 12px #aaa;
}

.list {
    list-style-type:none;
    padding: 0;
    margin: 0;

}

.list li {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    position: relative;
}

.list li:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

.item-menu {
    position: absolute;
    width: 100%;
    right: 0;
    top: 80%;
    background: #fff;
    z-index: 10;
}
.item-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.item-menu li {
    padding: 16px;

}

.add-item {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.add-item .button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 32px;
    padding: 8px 25px;
    background: #BF360C;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}
.add-item input[type="text"] {
    border: 1px solid #fff;
    height:30px;
    padding: 8px 16px;
    width: 100%;
    line-height: 22px;
    font-size: 20px;

}

.icon-check-empty, .icon-check {
    font-size: 20px;
    float: left;
    color: #BF360C;
    margin-right: 5px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
